[Unit]
Description=Daemon service Mockup

[Service]
Type=simple
ExecStart=/usr/bin/forever /opt/Sodas_Kaist/Daemon_process/Sodas_Kaist.js
WorkingDirectory=/opt/Sodas_Kaist/Daemon_process/
Restart=always
#StandardOutput=syslog
#User=nobody
#ExecStop=/bin/kill -9 $MAINPID
#Type=forking 해야 하는지 고려할 것
# "forking" 자식 프로세스를 생성이 완료되는 단계까지를 systemd 가 시작이 완료되었다고 판단하게 된다.
# 부모 프로세스를 추적할 수 있도록 PIDFile= 필드에 PID 파일을 선언해 주어야 한다.
# 출처: https://fmd1225.tistory.com/93 [fmd1225's One day]
# PIDFile=/var/run/Sodas_Kaist.pid
# forking일 경우 필수적이므로, fork 프로세스로 생성하는 것으로 결정될 경우 어떤 프로세스의 child process가 될 지 고민하여 지정해 줄 것.

[Install]
WantedBy=multi-user.target
